<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>

        <div class="container-fluid bg-3 text-center">
            <h2>
                <%= page %>
            </h2>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <p> NODEPOP es un equipo de personas que aspiran a hacer un mundo colaborativo y más sostenible. </p>
                    <p>Ahora todos ellos están más que orgullosos al ver que la comunidad NODEPOP ya tiene más de 40 millones</p>
                    <p>de usuarios que han subido más de 100.000.000 de productos (fomentando la reutilización de los objetos).</p>

                </div>
            </div>
        </div>
<br>
<br>
<br>
</body>
<hr>
<% include partials/script %>

<footer>
<% include partials/footer%>
</footer>
    
</html>