<!DOCTYPE html>
<html lang="es">

<head>
    <% include partials/head %>
</head>

<body>
    <% include partials/menu %>

    <div class="container-fluid bg-3 text-center">
            <h2>
                <%= page %>
            </h2>
            <br>
            <div class="row">
                <div class="col-sm-12">                 
                    <a href="">
                        <h3>NODEPOP@NODEOP.ES</h3>
                    </a>
                </div>
            </div>
    </div>
<br>
<br>
<br>
</body>
<hr>

<% include partials/script %>
<footer>
<% include partials/footer %>
</footer>

</html>