<!DOCTYPE html>
<html lang="es">

<head>
  <% include partials/head %>
</head>

<body>
  <% include partials/menu %>

    <div class="container-fluid bg-3 text-center">
      <h2>
        <%= page %>
      </h2>

      <div class="row">
        <div class="col-sm-12">    
          <h3>Api compatible con aplicaciones iOS / Android.</h3>
          <h3>Nodepop es una API para vender artículos de segunda mano</h3>
          <h3>Esta API se conecta a una base de datos y nos muestra los artículos en venta</h3>
          <h3>A través de filtros podemos realizar consultas a la base de datos y mostrarnos los resultados</h3>
        <br><br>
          <h2><a href="/anuncios" class="prueba">Probar API</a></h2>
        </div>
      </div>
    </div>
<br>
<br>
<br>


</body>
<hr>
<% include partials/script %>

<footer>
  <% include partials/footer %>
</footer>

</html>