@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto');

.bg-3 {
  background-color: #ffffff;
  color:#555555;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
  font-size: 12px;
  background-color: #14ddc5;
}

.logo{
  width: 11%;
  display: flex;
  justify-content: center;
}

.navbar-brand{
  font-family: 'Pacifico', 'Arial Narrow', Arial, sans-serif;
  color: #ffffff !important;
  font-size: 3em;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  padding-left: 117px;
}

.navbar-nav li a:hover {
  color: #555555 !important;

}

.active>a {
  color: #555555 !important;
}

hr{
  border: 0;
  height: 12px;
  box-shadow: inset 0 12px 12px -12px #1abc9c;
  background-color: turquoise;
}

footer{
  background-image: url(../images/favicon.ico);
  background-size: contain;
  padding-top: 200px;
  padding-bottom: 30px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
  background-color: #14ddc5;
  text-align: center;
  color: #ffffff;
}
footer>p{
  margin-bottom: -20px;
}

div>h3>li,
div>h4>li {
  list-style: none;
  font-size: 20px;
  font-family: 'Roboto',sans-serif;
}

h2{
  margin-top: -19px;
  margin-bottom: 60px;
  color:#14ddc5;
  font-family: 'Pacifico','Arial Narrow',Arial,sans-serif;
  font-size: 52px;
  text-decoration: underline;
}

.prueba{
  color:red;
}

table tr td img {
  max-height: 20px;
}